<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-sucess fixed-top">
      <h1 style="font-size: 30px; font-family: 'Anton', sans-serif; text-align: center; color: black;" class="navbar-brand">WELCOME TO NEWS ON THE GO</h1>
      <h2></h2>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a style="font-size: 20px;" class="nav-link" href="/">Home <span class="sr-only"></span></a>
            </li>
          </ul>
          <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" name ="news_query" placeholder="Search news" aria-label="Search">
            <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
          </form> -->
        </div>
      </nav>
    
    
</body>
</html>